<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h1></h1>

    {% block body %}{% endblock %}
    </body>
</html>

<script>
    {% block javascripts %}

    document.addEventListener('DOMContentLoaded', function () {
        fetch('/discover').then(result => {
            const hubUrl = result.headers.get('Link').match(/<([^>]+)>;\s+rel=(?:mercure|"[^"]*mercure[^"]*")/)[1];
            const url = new URL(hubUrl);
            url.searchParams.append('topic', '/ping');
            const eventSource = new EventSource(url, {
                withCredentials: true
            });

            eventSource.onmessage = e => {
                console.log('message recu')
                document.querySelector('h1').insertAdjacentHTML('afterend', `<div class="alert alert-success">Coucou je suis un visiteur !</div>`)
                window.setTimeout(() => {
                    const $alert = document.querySelector('.alert')
                    $alert.parentNode.removeChild($alert)
                }, 5000)
            }

        })
    })
</script>
{% endblock %}
